# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js
.next
out

# Archivos de desarrollo
.git
.github
.vscode
*.md
.gitignore

# Archivos de entorno local
.env.local
.env.development.local
.env.test.local
.env.production.local
